{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Edit Student</title>
{% endblock %}

{% block header %}
<header>
    <p>Edit Students</p>
</header>
{% endblock %}

{% block content %}
   
    <form method="POST">
        {% csrf_token %}
      
        <!-- {{form.as_p}} -->
        {{form|crispy}}
  
        <input class="btn btn-success" type="submit" value="Save">
        <input class="btn btn-danger" formaction="{% url 'students:delete' student.uuid %}" type="submit" value="Delete">
    </form>
{% endblock %}
