{% extends 'base.html' %}

{% block title %}
    <title>Students List</title>
{% endblock %}

{% block header %}
<header>
    <strong><p>Students List</p></strong>
</header>
{% endblock %}

{% block content %}
<form>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">First Name</span>
    </div>
    <input type="text" name="first_name" class="form-control" placeholder="Enter First Name" aria-label="First Name" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Last Name</span>
    </div>
    <input type="text" name="last_name" class="form-control" placeholder="Enter Last Name" aria-label="Last Name" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Rating</span>
    </div>
    <input type="text" name="rating" class="form-control" placeholder="Enter Rating" aria-label="Rating" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Email</span>
    </div>
    <input type="text" name="email" class="form-control" placeholder="Enter Email" aria-label="Email" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Phone</span>
    </div>
    <input type="text" name="phone" class="form-control" placeholder="Enter Phone" aria-label="Phone" aria-describedby="basic-addon1">
  </div>
  <!-- <div class="input-group mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">UUID</span>
    </div>
    <input type="text" name="uuid" class="form-control" placeholder="Enter UUID" aria-label="UUID" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Group</span>
    </div>
    <input type="text" name="group" class="form-control" placeholder="Enter Group" aria-label="Group" aria-describedby="basic-addon1">
  </div> -->



 <!--  <table style="width:25%">
    <tr>
      <th>First name</th>
      <td><input type="text" name="first_name"></td>
    </tr>
    <tr>
      <th>Last name</th>
      <td><input type="text" name="last_name"></td> 
    </tr>
    <tr>
      <th>Rating</th>
      <td><input type="number" name="rating"  min_value=0 max_value=100></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><input type="text" name="email"></td>
    </tr>
    <tr>
      <th>Phone</th>
      <td><input type="text" name="phone"></td>
    </tr>
    <tr>
      <th>UUID</th>
      <td><input type="text" name="uuid"></td>
    </tr>
    <tr>
      <th>Group</th>
      <td><input type="text" name="group"></td>
    </tr>
</table> -->
<div class ="mb-1">
      <input class="btn btn-primary" type="submit" value="Search">
      <input class="btn btn-success" formaction="{% url 'students:create' %}" type="submit" value="Create">
</div>

{% include 'includes/students-table.html' %}
{% endblock %}