{% extends 'base.html' %}

{% block title %}
    <title>Create Students</title>
{% endblock %}

{% block header %}
<header>
    <p>Create Student</p>
</header>
{% endblock %}

{% block content %}
   <!--  {% csrf_token %} -->
    <form method="POST">
        {% csrf_token %}
        
        {{form.as_p}}
  
        <input type="submit" value="Create">
    </form>
{% endblock %}
