{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    <title>Group Edit</title>
{% endblock %}

{% block header %}
<header>
    <p>Edit groups</p>
</header>
{% endblock %}

{% block content %}
   
    <form method="POST">
        {% csrf_token %}
      
        <!-- {{form.as_p}} -->
        {{form|crispy}}
  
        <input type="submit" value="Save">
        <input formaction="{% url 'groups:delete' group.id %}" type="submit" value="Delete">
    </form>
{% include 'includes/students-table.html' %}    

{% endblock %}
