{% extends 'base.html' %}

{% block title %}
    <title>Group Create</title>
{% endblock %}

{% block header %}
<header>
    <p>Create groups</p>
</header>
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <!-- <label >Group name:</label>
        <input type="text" name="name"><br><br>
  
        <label>Discipline:</label>
        <input type="text" name="program"><br><br> -->
        
        {{form.as_p}}
        <input type="submit" value="Create">
        
    </form>
{% endblock %}