{% extends 'base.html' %}

{% block title %}
    <title>Groups List</title>
{% endblock %}

{% block header %}
<header>
    <strong><p>List of groups</p></strong>
</header>
{% endblock %}

{% block content %}

    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Group Name</span>
            </div>
            <input type="text" name="name" class="form-control" placeholder="Enter Group Name" aria-label="Group Name" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Course</span>
            </div>
            <input type="text" name="program" class="form-control" placeholder="Enter group course" aria-label="Group Programm" aria-describedby="basic-addon1">
          </div>

      <!-- <label >Group name:</label>
      <input type="text" name="name"><br><br>

      <label>Group Programm:</label>
      <input type="text" name="program"><br><br> -->

      <input class="btn btn-primary" type="submit" value="Search">
      <input class="btn btn-success" formaction="{% url 'groups:create' %}" type="submit" value="Add new">

    </form>

<!-- {{groups|safe}} -->

<!-- <table>
    <tr>
        <th>EDIT</th>
        <th>Group ID</th>
        <th>Group Name</th>
        <th>Course</th>
        <th>Teacher</th>
        <th>Supervisor</th>
        
    </tr>

    {% for group in groups %}
  
    <tr>
      <td><a href="{% url 'groups:edit' group.id%}">EDIT</a></td>
      <td>{{ group.id }}</td>>
      <td>{{ group.name }}</td>
      <td>{{ group.course }}</td>
      <td>{{ group.teacher.first_name}} {{ group.teacher.last_name}}</td>
      <td>{{ group.supervisor.first_name }} {{ group.supervisor.last_name }}</td>
    </tr>
    {% endfor %} -->

{% include 'includes/groups-tables.html' %}

{% endblock %}