<nav aria-label="...">
    <ul class="pagination">
      <li class="page-item disabled">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
    {% endif %}
      </li>   
         

      {% for n in page_obj.paginator.page_range %}
         {% if page_obj.number == n %}
         <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
          </li>
         {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
        </li>
         {% endif %}

      {% endfor %}

      {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
      </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
      </li>
    {% endif %}
    </ul>
  </nav>
