{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
        <h1>Change Password</h1>
{% endblock %}

{% block content %}
    <form method="post">

        {% csrf_token %}
        {{form|crispy}}

        <input class="btn btn-success" type="submit" value="Save">
        <a class="btn btn-light" href="{% url 'core:index' %}">Cancel</a>
    </form>
{% endblock %}
