{% extends 'base.html' %}

{% block title %}
    <title>Teachers Create</title>
{% endblock %}

{% block header %}
<header>
    <p>Create Teachers</p>
</header>
{% endblock %}

{% block content %}
   
    <form method="POST">
        {% csrf_token %}
        <!-- <label >First name:</label>
        <input type="text" name="first_name"><br><br>
  
        <label>Last name:</label>
        <input type="text" name="last_name"><br><br>
  
        <label>Profession:</label>
        <input type="text" name="prof"><br><br> -->
  
        {{form.as_p}}
        <input type="submit" value="Create">
    </form>
{% endblock %}