{% extends 'base.html' %}

{% block title %}
    <title>Teachers List</title>
{% endblock %}

{% block header %}
<header>
    <strong><p>List of Teachers</p></strong>
</header>
{% endblock %}

{% block content %}

    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">First Name</span>
            </div>
            <input type="text" name="first_name" class="form-control" placeholder="Enter First Name" aria-label="First Name" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Last Name</span>
            </div>
            <input type="text" name="last_name" class="form-control" placeholder="Enter Last Name" aria-label="Last Name" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Proff.</span>
            </div>
            <input type="text" name="prof" class="form-control" placeholder="Enter Profession" aria-label="Proff." aria-describedby="basic-addon1">
          </div>

      <!-- <label >First name:</label>
      <input type="text" name="first_name"><br><br>

      <label>Last name:</label>
      <input type="text" name="last_name"><br><br>

      <label>Profession:</label>
      <input type="text" name="Prof"><br><br>
 -->
      <input class="btn btn-primary" type="submit" value="Search">
      <input class="btn btn-success" formaction="{% url 'teachers:create' %}" type="submit" value="Add new">

    </form>

<!--{{teachers|safe}} -->

<table>
    <tr>
        <th>EDIT</th>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Profession</th>
        <th>Groups</th>
       
    </tr>

    {% for teacher in teachers %}
  
    <tr>
      <td><a href="{% url 'teachers:edit' teacher.id%}">EDIT</a></td>
      <td> {{ teacher.id }}</td>>
      <td>{{ teacher.first_name }}</td>
      <td>{{ teacher.last_name }}</td>
      <td>{{ teacher.prof }}</td>
      <td>{{ teacher.group.name }}</td>
    </tr>
    {% endfor %}


  {% include 'includes/pagination.html' %}

<!-- Paginator tab below -->
<!-- <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
  {% if page_obj.has_previous %}
  <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    </li>
  {% else %}
  <li class="page-item">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
  {% endif %}
    </li>   
       

    {% for n in page_obj.paginator.page_range %}
       {% if page_obj.number == n %}
       <li class="page-item active" aria-current="page">
          <a class="page-link" href="?page={{ n }}">{{ n }}</a>
        </li>
       {% else %}
      <li class="page-item">
          <a class="page-link" href="?page={{ n }}">{{ n }}</a>
      </li>
       {% endif %}

    {% endfor %}

    {% if page_obj.has_next %}
  <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
    </li>
  {% else %}
  <li class="page-item">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
    </li>
  {% endif %}
  </ul>
</nav>



{% endblock %}

  -->
