{% extends 'base.html' %}

{% block title %}
    <title>Teacher edit</title>
{% endblock %}

{% block header %}
<header>
    <p>Edit Teachers</p>
</header>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
   
    <form method="POST">
        {% csrf_token %}
      
        <!-- {{form.as_p}} -->
        {{form|crispy}}
  
        <input type="submit" value="Save">
        <input formaction="{% url 'teachers:delete' teacher.id %}" type="submit" value="Delete">
    </form>
{% include 'includes/groups-tables.html' %}
{% endblock %}
