{% extends 'base.html' %}

{% block title %}
    <title>Main Pages</title>
{% endblock %}

{% block content %}

<div class="container">
  <div class="card-deck mb-3 text-center">

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Students</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4"> 
        </ul>
        <h1><a class="p-2 text-dark" href="{% url 'students:list' %}">Students</a></h1>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Teachers</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4"> 
        </ul>
        <h1><a class="p-2 text-dark" href="{% url 'teachers:list' %}">Teachers</a></h1>
        </div>
    </div>


    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Groups</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4"> 
        </ul>
        <h1><a class="p-2 text-dark" href="{% url 'groups:list' %}">Groups</a></h1>
        </div>
    </div>

    </div>
  </div>
  <!-- <a href="{% url 'students:list' %}">Students List</a><br>
  <a href="{% url 'groups:list' %}">Groups List</a><br>
  <a href="{% url 'teachers:list' %}">Teachers List</a><br> -->

{% endblock %}
